<ul class="character">
   <li class="character-name">{{name}}</li>
   <li class="character-class">{{class}}</li>
   <li class="character-traits">{{traits}}</li>
   <li class="character-campaign">{{campiagn}}</li>
</ul>
