<!DOCTYPE html>
<html>
  <head>
	<title>DND LFG</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.0/css/all.css" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/core-navbar.css">
	<link rel="stylesheet" href="../static/css/404.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.runtime.js"></script>
  </head>
  <body id="page-not-found-body">
	{% include 'navbar.html' %}
	<div class="page-not-found-div">
		<p>page not found. roll again or <a href="login.html">-login-</a></p>
	</div>
  </body>
</html>