<!DOCTYPE html>
<html>
  <head>
	<title>DND LFG</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.0/css/all.css" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/core-navbar.css">
	<link rel="stylesheet" href="../static/css/availability.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.runtime.js"></script>
    <script src="../static/js/availability.js" charset="utf-8" defer></script>
  </head>
  <body id="availability-body">
	{% include 'navbar.html' %}
	<div class="availability-parent-encompassing" id="parent-avail-div">
		<div class="campaigns-signed-up-availability" id="campaigns-signed-up-availability-id">
			<h2 class="avail-h2-headers" id="currently-signed-up-for">Signed Up For</h2>
			<table class="campaigns-availability-table" id="campaigns-availability-table-id">
				<thead class="avail-head">
					<tr id="avail-head-tr">
						<th>Campaign</th>
						<th>Plays On</th>
						<th>Looking for</th>
						<th>Signed Up</th>
					</tr
				</thead>
				<tbody id="campaigns-availability-table-body">
					{% for campaign in available_campaigns %}
						<tr>
							<td>{{campaign.campaign_name|truncate(22, true, '..', 0)}}</td>
							<td>{{campaign.plays_on|truncate(3, true, '', 0)}}</td>
							<td>{{campaign.looking_for}}</td>
							<td>{{campaign.signed_up}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="availability" id="availability-div">	
			<h2 class="avail-h2-headers">Availability</h2>
			<p>D&D games are played in the evenings, US Pacific time. By updating your availability below, you can view <a href="available-campaigns">Available Campaigns</a> that are looking for players on similar days.</p>
			<p>The table on the left displays campaigns you are currently signed up for that are still looking for players. If you de-select a day below that appears in the table, you will be removed from that campaign.</p>
			<form id="availability-form">
			
				<!-- Monday -->
				{% if my_availability.monday == 1 %}
					<input type="checkbox" class="availability_checkboxes" name="monday" value="monday" checked>Monday</input><br>
				{% elif my_availability.monday == 0 %}
					<input type="checkbox" class="availability_checkboxes" name="monday" value="monday" checked>Monday</input><br>
				{% endif %}
				
				<!-- Tuesday -->
				{% if my_availability.tuesday == 1 %}
					<input type="checkbox" class="availability_checkboxes" name="tuesday" value="tuesday" checked>Tuesday</input><br>
				{% elif my_availability.tuesday == 0 %}
					<input type="checkbox" class="availability_checkboxes" name="tuesday" value="tuesday">Tuesday</input><br>
				{% endif %}
				
				<!-- Wednesday -->
				{% if my_availability.wednesday == 1 %}
					<input type="checkbox" class="availability_checkboxes" name="wednesday" value="wednesday" checked>Wednesday</input><br>
				{% elif my_availability.wednesday == 0 %}
					<input type="checkbox" class="availability_checkboxes" name="wednesday" value="wednesday">Wednesday</input><br>
				{% endif %}
				
				<!-- Thursday -->
				{% if my_availability.thursday == 1 %}
					<input type="checkbox" class="availability_checkboxes" name="thursday" value="thursday" checked>Thursday</input><br>
				{% elif my_availability.thursday == 0 %}
					<input type="checkbox" class="availability_checkboxes" name="thursday" value="thursday">Thursday</input><br>
				{% endif %}
				
				<!-- Friday -->
				{% if my_availability.friday == 1 %}
					<input type="checkbox" class="availability_checkboxes" name="friday" value="friday" checked>Friday</input><br>
				{% elif my_availability.friday == 0 %}
					<input type="checkbox" class="availability_checkboxes" name="friday" value="friday">Friday</input><br>
				{% endif %}
				
				<!-- Saturday -->
				{% if my_availability.saturday == 1 %}
					<input type="checkbox" class="availability_checkboxes" name="saturday" value="saturday" checked>Saturday</input><br>
				{% elif my_availability.saturday == 0 %}
					<input type="checkbox" class="availability_checkboxes" name="saturday" value="saturday">Saturday</input><br>
				{% endif %}
				
				<!-- Sunday -->
				{% if my_availability.sunday == 1 %}
					<input type="checkbox" class="availability_checkboxes" name="sunday" value="sunday" checked>Sunday</input><br>
				{% elif my_availability.sunday == 0 %}
					<input type="checkbox" class="availability_checkboxes" name="sunday" value="sunday">Sunday</input><br>
				{% endif %}
				
				<br>
				<input type="submit" value="Submit" id="availability-submit-button">
			</form>
			<br><br>
		</div>
	</div>
  </body>
</html>