<!DOCTYPE html>
<html>
  <head>
	<title>DND LFG</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.0/css/all.css" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.runtime.js"></script>
    <script src="../js/characters.js" charset="utf-8" defer></script>
  </head>
  <body id="characters-body">
	<header>
		<h1 class="site-title"><i class="fas fa-dragon"></i>   D<i class="fab fa-d-and-d"></i>D LFG</h1></a>
		<nav class="navbar">
			<ul class="navlist">
			  <li class="navitem navlist"><a href="characters">Characters</a></li>
			  <li class="navitem navlist"><a href="create-campaign">Create Campaign</a></li>
			  <li class="navitem navlist"><a href="available-campaigns">Available Campaigns</a></li>
			  <li class="navitem navlist"><a href="availability">My Availability</a></li>
			  <li class="navitem navlist"><a href="account">Account</a></li>
			  <li class="navitem navlist" id="navlogout"><a href="login">Log Out</a></li>
			</ul>
		</nav>
    </header>
	<div class="current_characters character_data" id="characters-full-div-below-nav-bar">
		<p class="character-title">Current Characters</p>
		<ul class="character">
			<li class="character-id" hidden>5829</li>
			<li class="character-name">Terra</li>
			<li class="character-class">sorcerer/warlock</li>
			<li class="character-traits">Groveborn</li>
			<button type="button" id="edit-character-button" class="edit-character-button"><i class="fas fa-cogs"></i></button>
			<button type="button" class="delete-character-button">Del</button>
		</ul>
		<ul class="character">
			<li class="character-id" hidden>86204</li>
			<li class="character-name">Alice</li>
			<li class="character-class">rogue</li>
			<li class="character-traits">half demon, half angel</li>
			<button type="button" id="edit-character-button" class="edit-character-button"><i class="fas fa-cogs"></i></i></button>
			<button type="button" class="delete-character-button">Del</button>
		</ul>
		<ul class="character">
			<li class="character-id" hidden>6528</li>
			<li class="character-name">Draug</li>
			<li class="character-class">Ranger</li>
			<li class="character-traits">Wood elf, edgey, worthless</li>
			<button type="button" id="edit-character-button" class="edit-character-button"><i class="fas fa-cogs"></i></i></button>
			<button type="button" class="delete-character-button">Del</button>
		</ul>
		<ul class="character">
			<li class="character-id" hidden>728520</li>
			<li class="character-name">Elril</li>
			<li class="character-class">half-elf</li>
			<li class="character-traits">Groveborn</li>
			<button type="button" id="edit-character-button" class="edit-character-button"><i class="fas fa-cogs"></i></i></button>
			<button type="button" class="delete-character-button">Del</button>
		</ul>
		<ul class="character">
			<li class="character-id" hidden>5629</li>
			<li class="character-name">Nayar</li>
			<li class="character-class">Deva</li>
			<li class="character-traits">Stylish, outspoken</li>
			<button type="button" id="edit-character-button" class="edit-character-button"><i class="fas fa-cogs"></i></i></button>
			<button type="button" class="delete-character-button">Del</button>
		</ul>
		<ul class="character">
			<li class="character-id" hidden>58326</li>
			<li class="character-name">Rhurr</li>
			<li class="character-class">Aarakocra</li>
			<li class="character-traits">Always scanning</li>
			<button type="button" id="edit-character-button" class="edit-character-button"><i class="fas fa-cogs"></i></i></button>
			<button type="button" class="delete-character-button">Del</button>
		</ul>
		<ul class="character">
			<li class="character-id" hidden>65723</li>
			<li class="character-name">Grengurn</li>
			<li class="character-class">Dwarf</li>
			<li class="character-traits">Very short</li>
			<button type="button" id="edit-character-button" class="edit-character-button"><i class="fas fa-cogs"></i></i></button>
			<button type="button" class="delete-character-button">Del</button>
		</ul>
		<ul class="character">
			<li class="character-id" hidden>257926</li>
			<li class="character-name">Benttooth</li>
			<li class="character-class">Goblin</li>
			<li class="character-traits">Steals things</li>
			<button type="button" id="edit-character-button" class="edit-character-button"><i class="fas fa-cogs"></i></i></button>
			<button type="button" class="delete-character-button">Del</button>
		</ul>
<!--
		{{#each characters}}
 		       {{> character}}
  		       {{/each}}
--> 
	</div>
		<button type="button" id="create-character-button"><i class="fas fa-scroll"></i></i></button>
		<div id="modal-backdrop" class="hidden"></div>
		<div id="create-character-modal" class="hidden">
		  <div class="modal-dialog">
			<div class="modal-header">
			  <h3>Create a Character</h3>
			  <button type="button" class="modal-close-button">&times;</button>
			</div>
			<div class="modal-body">
			  <div class="character-input-element">
				<label for="character-name-input">Character Name</label>
				<textarea id="character-name-input"></textarea>
			  </div>
			  <div class="character-input-element">
				<label for="character-class-input">Class</label>
				<input type="text" id="character-class-input">
			  </div>
			  <div class="character-input-element">
				<label for="character-traits-input">Traits</label>
				<input type="text" id="character-traits-input">
			  </div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="modal-cancel-button">Cancel</button>
			  <button type="button" class="modal-accept-button">Create Character</button>
			</div>
		  </div>
		</div>
		<div id="edit-character-modal" class="hidden"> <!--class="hidden"   <<< this attribute used here.-->
		  <div class="modal-dialog">
			<div class="modal-header">
			  <h3>Edit this character</h3>
			  <button type="button" class="modal-close-button">&times;</button>
			</div>
			<div class="modal-body"> edit-character-id-input
			  <div class="edit-character-element" hidden>
				<label for="edit-character-id-input" hidden>Character Name</label>
				<textarea id="edit-character-id-input" hidden></textarea>
			  </div>
			  <div class="edit-character-element">
				<label for="edit-character-name-input">Character Name</label>
				<textarea id="edit-character-name-input"></textarea>
			  </div>
			  <div class="edit-character-element">
				<label for="edit-character-class-input">Character Class</label>
				<textarea id="edit-character-class-input"></textarea>
			  </div>
			  <div class="edit-character-element">
				<label for="edit-character-traits-input">Character Traits</label>
				<textarea id="edit-character-traits-input"></textarea>
			  </div>
			<div class="modal-footer">
			  <button type="button" class="modal-cancel-button">Cancel</button>
			  <button type="button" class="modal-accept-button">Submit</button>
			</div>
		 </div>
	   </div>
<!--	
	<ul class="character_data">
		<p>Chracter's Name</p>
		<li class="char_name charitem">
	            <input type="text" id="character-name" placeholder="Name...">
		</li>
		<p>Chracter's Class</p>
		<li class="char_class charitem">
	            <input type="text" id="character-class" placeholder="Class...">
		</li>
		<p>Chracter's Traits</p>
		<li class="char_traits charitem">
	            <input type="text" id="character-traits" placeholder="Race, Alignement, ect...">
		</li>
	</ul>
-->	

  </body>
