<!DOCTYPE html>
<html>
  <head>
	<title>DND LFG</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.0/css/all.css" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/core-navbar.css">
	<link rel="stylesheet" href="../static/css/characters.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.runtime.js"></script>
    <script src="../static/js/characters.js" charset="utf-8" defer></script>
  </head>
  <body id="characters-body">
	{% include 'navbar.html' %}
	<div class="current_characters character_data" id="characters-full-div-below-nav-bar">
		<h3 class="character-title">Current Characters</p>
	</div>
	<div id="create-character-button-container-outer">
		<div id="create-character-button-container">
			<button type="button" id="create-character-button-two">Create Character</button>
		</div>
	</div>
	<div id="character_data">
		{% for character in characters %}
			<ul class="character">
				<li class="character-id" hidden>{{character.character_id}}</li>
				<li class="character-name">{{character.character_name}}</li>
				<li class="character-class">{{character.character_class}}</li>
				<li class="character-traits">{{character.character_traits}}</li>
				<button type="button" id="edit-character-button" class="edit-character-button"><i class="fas fa-cogs"></i></button>
				<button type="button" class="delete-character-button">Del</button>
			</ul>
		{% endfor %}
	</div>
		<!--<button type="button" id="create-character-button"><i class="fas fa-scroll"></i></i></button>-->
		<div id="modal-backdrop" class="hidden"></div>
			<div id="create-character-modal" class="hidden">
			  <div class="modal-dialog">
				<div class="modal-header">
				  <h3 id='character-form-header'></h3>
				  <button type="button" class="modal-close-button">&times;</button>
				</div>
				<div class="modal-body">
					<div>
						<input id="character-action" hidden></input>
					</div>
				  <div class="character-input-element">
					<label for="character-id-input" hidden>Id</label>
					<input id="character-id-input" hidden></input>
				  </div>
				  <div class="character-input-element">
					<label for="character-name-input">Name</label>
					<input id="character-name-input"></input>
				  </div>
				  <div class="character-input-element">
					<label for="character-class-input">Class</label>
					<input type="text" id="character-class-input">
				  </div>
				  <div class="character-input-element">
					<label for="character-traits-input">Traits</label>
					<input type="text" id="character-traits-input">
				  </div>
				</div>
				<div class="modal-footer">
				  <button type="button" class="modal-cancel-button">Cancel</button>
				  <button type="button" class="modal-accept-button">Submit</button>
				</div>
			  </div>
			</div>
  </body>
