<!DOCTYPE html>
<html>
  <head>
	<title>DND LFC</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.0/css/all.css" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/core-navbar.css">
	<link rel="stylesheet" href="../static/css/create-campaign.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.runtime.js"></script>
    <script src="../static/js/create-campaign.js" charset="utf-8" defer></script>
  </head>
  <body id="create-campaign-body">
	{% include 'navbar.html' %}
	<br>
	<div class="available-campaigns-heading" id="first-heading">
		<h1 class="available-header">Open Campaigns</h1>
	</div>
	<div id="create-campaign-button-container-outer">
		<div id="create-campaign-button-container">
			<button type="button" id="create-campaign-button">Create Campaign</button>
		</div>
	</div>
	<div class="available-campaigns-table-container" id="available-campaigns-table-container">
		<table class="available-campaigns-table">
			<thead class="available-campaigns-table-header">
				<tr id="available-campaigns-table-header-row">
					<td hidden>id</td>
					<td>Name</td>
					<td>Playstyle</td>
					<td class="no-wrap">Desired History</td>
					<td>Created</td>
					<td>Plays On</td>
					<td class="no-wrap">Looking for</td>
					<td class="no-wrap">Signed up</td>
					<td></td>
					<td></td>
				</tr>
			<tbody class="available-campaigns-table-body">
				<tr>
					<td hidden>5802</td>
					<td>Saviors of Ragnarok</td>
					<td>Aggressive</td>
					<td>Experienced players only</td>
					<td>2/10/2021</td>
					<td>Sunday</td>
					<td>8</td>
					<td>2</td>
					<td class="join-campaign-cell">
						<span class="campaign-action-cells">
							<button class="join-campaign-button">Roster</button>
						</span></td>
					<td class="join-campaign-cell">
						<span class="campaign-action-cells">
							<button class="close-button">Close</button>
						</span></td>
					<td class="joined-this-campaign" hidden>Y</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="available-campaigns-heading">
		<br>
		<h1 class="available-header">Closed Campaigns</h1>
	</div>
	<div class="available-campaigns-table-container" id="available-campaigns-table-container">
		<table class="available-campaigns-table">
			<thead class="available-campaigns-table-header">
				<tr id="available-campaigns-table-header-row">
					<td hidden>id</td>
					<td>Name</td>
					<td>Playstyle</td>
					<td class="no-wrap">Desired History</td>
					<td>Plays On</td>
					<td class="no-wrap"># Players</td>
					<td>Created</td>
					<td>Closed</td>
				</tr>
			<tbody class="available-campaigns-table-body">
				<tr>
					<td hidden>5802</td>
					<td>The First Dungeon</td>
					<td>Laid back</td>
					<td>New players allowed</td>
					<td>Sunday</td>
					<td>6</td>
					<td>2/10/2021</td>
					<td>3/1/2021</td>
					<td class="join-campaign-cell">
						<span class="campaign-action-cells">
							<button class="join-campaign-button">Roster</button>
						</span></td>
					<td class="joined-this-campaign" hidden>Y</td>
				</tr>
				<tr>
					<td hidden>5802</td>
					<td>Example 2</td>
					<td>Laid back</td>
					<td>New players allowed</td>
					<td>Sunday</td>
					<td>6</td>
					<td>2/10/2021</td>
					<td>3/1/2021</td>
					<td class="join-campaign-cell">
						<span class="campaign-action-cells">
							<button class="join-campaign-button">Roster</button>
						</span></td>
					<td class="joined-this-campaign" hidden>Y</td>
				</tr>
				<tr>
					<td hidden>5802</td>
					<td>Example 3</td>
					<td>Laid back</td>
					<td>New players allowed</td>
					<td>Sunday</td>
					<td>6</td>
					<td>2/10/2021</td>
					<td>3/1/2021</td>
					<td class="join-campaign-cell">
						<span class="campaign-action-cells">
							<button class="join-campaign-button">Roster</button>
						</span></td>
					<td class="joined-this-campaign" hidden>Y</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="roster">
		<!-- code here for the roster modal popup -->
	</div>
	<!-- I will though use this discliamer and change the font color to white -->
	<div class="disclaimer-container">
		<div class="disclaimer">
			<p id="disclaimer-message">*When all player slots are filled the campaign's status will automatically become closed. You may then view the Roster and contact the players to start playing. Hitting the 'Close' button on a campaign that is still open will prematurely close it. In that case you may want to be courteous and reach out those who signed up and let them know.<p>
		</div>
	</div>
	<!--<button type="button" id="create-campaign-button"><i class="fas fa-drafting-compass"></i></button>-->

	<div id="modal-backdrop" class="hidden"></div>
    <div id="create-campaign-modal" class="hidden">
      <div class="modal-dialog">

        <div class="modal-header">
          <h3>Create a Campaign</h3>
          <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
			<div class="campaign-input-element">
				<label for="campaign-name-input">Campaign Name</label>
				<input type="text" id="campaign-name-input">
			</div>
			<div class="campaign-input-element">
				<label for="campaign-players-input">Number of players wanted</label>
				<input type="text" id="character-players-input">
			</div>
			<div class="campaign-input-element">
				<label for="campaign-desired-history">Select player preference</label>
				
				<select name="campaign-desired-history" id="campaign-desired-history">
				<option value=1>All players welcome</option>
				<option value=2>New players preffered</option>
				<option value=3>Some experience</option>
				<option value=4>Experienced players only</option>
				</select>
			</div>
			<div class="campaign-input-element">
				<label for="campaign-playstyle">Select Homebrew/UA preference</label>
				
				<select name="campaign-playstyle" id="campaign-playstyle">
				<option value=1>By the Book</option>
				<option value=2>UA allowed</option>
				<option value=3>UA and Homebrew</option>
				<option value=4>Contact DM</option>
				</select>
			</div>
			<div class="campaign-input-element">
				<label for="campaign-day">Select day to play</label>
				<select name="campaign-day" id="campaign-day">
					<option value=1>Monday</option>
					<option value=2>Tuesday</option>
					<option value=3>Wednesday</option>
					<option value=4>Thursday</option>
					<option value=5>Friday</option>
					<option value=6>Saturday</option>
					<option value=7>Sunday</option>
				</select>
			</div>
			<div class="campaign-input-element">
				<label for="campaign-num-players">Select # Players</label>
				<select name="campaign-day" id="campaign-day">
					<option value=1>1</option>
					<option value=2>2</option>
					<option value=3>3</option>
					<option value=4>4</option>
					<option value=5>5</option>
					<option value=6>6</option>
					<option value=7>7</option>
					<option value=8>8</option>
				</select>
			</div>
			<div class="modal-footer">
				<button type="button" class="modal-cancel-button">Cancel</button>
				<button type="button" class="modal-accept-button">Submit</button>
			</div>
		</div>
	</div>
	</div>
	
</body>
