<!DOCTYPE html>
<html>
  <head>
	<title>DND LFG</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.0/css/all.css" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/core-navbar.css">
	<link rel="stylesheet" href="../static/css/signup.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.runtime.js"></script>
        <script src="../static/js/signup.js" charset="utf-8" defer></script>
  </head>
  <body id="signup-body">
	<header>
		<h1 class="site-title"><i class="fas fa-dragon"></i>   D<i class="fab fa-d-and-d"></i>D LFG</h1></a>
    </header> 
	<div class="signup-page">
		<div class="signup-full-form">
			<div class="signup">
				<div class="signup-header">
					<h3>Join the party</h3>
				</div>
			</div>
			<form class="signup-form">
				<input id="signup-email" type="email" placeholder="email"/>
				<input id="signup-username" type="text" placeholder="username"/>
				<input id="signup-password" type="password" placeholder="password"/>
				
				<form>
					<fieldset>
						<legend>Select your user type</legend>
						<label for="Player">Player</label><br>
						<input type="radio" name="player_type" id="user_type_player" value="Player">
						<label for="Dungeon Master">Dungeon Master</label><br>
						<input type="radio" name="player_type" id="user_type_dm" value="DM">
					</fieldset>
				</form>
				<br>				
				<button id="signup-button">Submit</button>
				<p class="message">Or <a href="/login">Log-in</a></p>
			</form>
		</div>
	</div>
  </body>
</html>
